@model IBBPortal.Models.ProjectPhase
<!-- Modal -->
<div class="modal fade" id="ProjectPhaseCreateModal" tabindex="-1" aria-labelledby="ProjectPhaseCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="Create">
                <div class="modal-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <h5 class="modal-title" id="exampleModalLabel">Faz Ekle</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- Validation Part. Must be still for all views!! -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Phase ID -->
                        <div class="form-group row">
                            <label asp-for="PhaseID" class="col-12 col-xl-4 col-form-label">Faz<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="PhaseID" class="form-control" id="selectPhase" style="width: 100%;" required>
                                    <option value="">Faz Seçin</option>
                                </select>
                                <span asp-validation-for="PhaseID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Phase Status ID -->
                        <div class="form-group row">
                            <label asp-for="ProjectPhaseStatusID" class="col-12 col-xl-4 col-form-label">Faz Durumu<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="ProjectPhaseStatusID" class="form-control" id="selectPhaseStatus" style="width: 100%;" required>
                                    <option value="">Faz Durumu Seçin</option>
                                </select>
                                <span asp-validation-for="ProjectPhaseStatusID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Phase Status Description -->
                        <div class="form-group row">
                            <label asp-for="ProjectPhaseStatusDescription" class="col-12 col-xl-4 col-form-label">Durum Açıklaması</label>
                            <div class="col-12 col-xl-8">
                                <textarea asp-for="ProjectPhaseStatusDescription" class="form-control"></textarea>
                                <span asp-validation-for="ProjectPhaseStatusDescription" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />

                        <!-- Project Phase Start Date -->
                        <div class="form-group row">
                            <label asp-for="ProjectPhaseStart" class="col-12 col-xl-4 col-form-label">Planlanan Başlangıç Tarihi</label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="ProjectPhaseStart" type="text" class="form-control datepicker">
                                <i class="fas fa-calendar-alt"></i>
                                <span asp-validation-for="ProjectPhaseStart" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Phase Finish Date -->
                        <div class="form-group row">
                            <label asp-for="ProjectPhaseFinish" class="col-12 col-xl-4 col-form-label">Planlanan Bitiş Tarihi</label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="ProjectPhaseFinish" type="text" class="form-control datepicker">
                                <i class="fas fa-calendar-alt"></i>
                                <span asp-validation-for="ProjectPhaseFinish" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Phase Recorded Start Date -->
                        <div class="form-group row">
                            <label asp-for="ProjectPhaseRecordedStart" class="col-12 col-xl-4 col-form-label">Resmi Başlangıç Tarihi</label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="ProjectPhaseRecordedStart" type="text" class="form-control datepicker">
                                <i class="fas fa-calendar-alt"></i>
                                <span asp-validation-for="ProjectPhaseRecordedStart" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Phase Recorded Finish Date -->
                        <div class="form-group row">
                            <label asp-for="ProjectPhaseRecordedFinish" class="col-12 col-xl-4 col-form-label">Resmi Bitiş Tarihi</label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="ProjectPhaseRecordedFinish" type="text" class="form-control datepicker">
                                <i class="fas fa-calendar-alt"></i>
                                <span asp-validation-for="ProjectPhaseRecordedFinish" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />

                        <!-- Project Phase Time Extension -->
                        <div class="form-group row">
                            <label asp-for="ProjectPhaseTimeExtension" class="col-12 col-xl-4 col-form-label">Uzatma Süresi(Gün)</label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="ProjectPhaseTimeExtension" class="form-control">
                                <span asp-validation-for="ProjectPhaseTimeExtension" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Phase Extension Description -->
                        <div class="form-group row">
                            <label asp-for="ProjectPhaseExtensionReason" class="col-12 col-xl-4 col-form-label">Uzatma Nedeni</label>
                            <div class="col-12 col-xl-8">
                                <textarea asp-for="ProjectPhaseExtensionReason" class="form-control"></textarea>
                                <span asp-validation-for="ProjectPhaseExtensionReason" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project ID for the Creation -->
                        <input type="hidden" asp-for="ProjectID" value="@ViewBag.ProjectID" />

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="buttons">
                        <button type="submit" value="Save" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                        <a asp-action="Index" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#selectPhase').select2({
        theme: "ibb",
        language: "tr",
        dropdownParent: $(".modal"),
        ajax: {
            url: '/Phase/JsonSelectData',
            dataType: 'json',
            processResults: function (response) {

                return {
                    results: response.results,
                };
            }
        }
    });

    $('#selectPhaseStatus').select2({
        theme: "ibb",
        language: "tr",
        dropdownParent: $(".modal"),
        ajax: {
            url: '/ProjectPhaseStatus/JsonSelectData',
            dataType: 'json',
            processResults: function (response) {

                return {
                    results: response.results,
                };
            }
        }
    });

    //Initialize Datepicker
    $('.datepicker').each(function () {
        $(this).datepicker({
            format: "dd.mm.yyyy",
            todayBtn: "linked",
            clearBtn: true,
            language: "tr",
            autoclose: true,
        });
    });
</script>

