@model IBBPortal.Models.Project

@{
    ViewData["Title"] = "Proje Ekle";
}

<h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>
<form asp-action="Create">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-column flex-md-row align-items-center justify-content-between">
            <ul class="nav nav-pills" id="formTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tag-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tag" arsia-selected="false">Künye</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-pane fade active show" id="tag" role="tabpanel" aria-labelledby="tag-tab">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <!-- Validation Part. Must be still for all views!! -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Project Title -->
                        <div class="form-group row">
                            <label asp-for="ProjectTitle" class="col-12 col-lg-4 col-form-label">Proje Başlığı<span class="text-danger">*</span></label>
                            <div class="col-12 col-lg-8">
                                <input asp-for="ProjectTitle" type="text" class="form-control" required>
                                <span asp-validation-for="ProjectTitle" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project IBB Code -->
                        <div class="form-group row">
                            <label asp-for="ProjectIBBCode" class="col-12 col-lg-4 col-form-label">Proje İBB Kodu<span class="text-danger">*</span></label>
                            <div class="col-12 col-lg-8">
                                <input asp-for="ProjectIBBCode" type="number" class="form-control" required>
                                <span asp-validation-for="ProjectIBBCode" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />

                        <!-- Requesting Department ID -->
                        <div class="form-group row">
                            <label asp-for="RequestingDepartmentID" class="col-12 col-xl-4 col-form-label">Talep Eden Müdürlük<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="RequestingDepartmentID" class="form-control" id="selectRequestingDepartment" style="width: 100%;" required>
                                    <option value="">Talep Eden Müdürlük Seçin</option>
                                </select>
                                <span asp-validation-for="RequestingDepartmentID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Responsible Department ID -->
                        <div class="form-group row">
                            <label asp-for="ResponsibleDepartmentID" class="col-12 col-xl-4 col-form-label">Sorumlu Müdürlük<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="ResponsibleDepartmentID" class="form-control" id="selectResponsibleDepartment" style="width: 100%;" required>
                                    <option value="">Sorumlu Müdürlük Seçin</option>
                                </select>
                                <span asp-validation-for="ResponsibleDepartmentID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Owner Person ID -->
                        <div class="form-group row">
                            <label asp-for="ProjectOwnerPersonID" class="col-12 col-xl-4 col-form-label">Proje Sahibi<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="ProjectOwnerPersonID" class="form-control" id="selectProjectOwner" style="width: 100%;" required>
                                    <option value="">Proje Sahibi Seçin</option>
                                </select>
                                <span asp-validation-for="ProjectOwnerPersonID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Service Area ID -->
                        <div class="form-group row">
                            <label asp-for="ProjectServiceAreaID" class="col-12 col-xl-4 col-form-label">Proje Hizmet Alanı<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="ProjectServiceAreaID" class="form-control" id="selectServiceArea" style="width: 100%;" required>
                                    <option value="">Hizmet Alanı Seçin</option>
                                </select>
                                <span asp-validation-for="ProjectServiceAreaID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Importance ID -->
                        <div class="form-group row">
                            <label asp-for="ProjectImportanceID" class="col-12 col-xl-4 col-form-label">Proje Önemi<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="ProjectImportanceID" class="form-control" id="selectProjectImportance" style="width: 100%;" required>
                                    <option value="">Proje Önemi Seçin</option>
                                </select>
                                <span asp-validation-for="ProjectImportanceID" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />

                        <!-- Project Status ID -->
                        <div class="form-group row">
                            <label asp-for="ProjectStatusID" class="col-12 col-xl-4 col-form-label">Proje Durumu<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="ProjectStatusID" class="form-control" id="selectProjectStatus" style="width: 100%;" required>
                                    <option value="">Proje Durumu Seçin</option>
                                </select>
                                <span asp-validation-for="ProjectStatusID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Status Description -->
                        <div class="form-group row">
                            <label asp-for="ProjectStatusDescription" class="col-12 col-xl-4 col-form-label">Proje Durumu Açıklaması</label>
                            <div class="col-12 col-xl-8">
                                <textarea asp-for="ProjectStatusDescription" class="form-control"></textarea>
                                <span asp-validation-for="ProjectStatusDescription" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Status Description Date -->
                        <div class="form-group row">
                            <label asp-for="ProjectStatusDescriptionDate" class="col-12 col-xl-4 col-form-label">Proje Durumu Açıklaması Tarihi</label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="ProjectStatusDescriptionDate" type="text" class="form-control datepicker">
                                <i class="fas fa-calendar-alt"></i>
                                <span asp-validation-for="ProjectStatusDescriptionDate" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />

                        <!-- Is Feasibility Needed ? -->
                        <div class="form-group row">
                            <label asp-for="IsFeasibilityNeeded" class="col-form-label col-12 col-xl-4">Fizibilite Gerekli mi?<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <div class="text-center d-inline-block col-form-label">
                                    <div class="vc-toggle-container">
                                        <label class="vc-switch">
                                            <input type="checkbox" class="vc-switch-input" asp-for="IsFeasibilityNeeded">
                                            <span data-on="Evet" data-off="Hayır" class="vc-switch-label"></span>
                                            <span class="vc-handle"></span>
                                            <span asp-validation-for="IsFeasibilityNeeded" class="text-danger"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Has Related Projects ? -->
                        <!--<div class="form-group row">
                            <label asp-for="HasRelatedProject" class="col-form-label col-12 col-xl-4">Alt Proje Var mı?<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <div class="text-center d-inline-block col-form-label">
                                    <div class="vc-toggle-container">
                                        <label class="vc-switch">
                                            <input type="checkbox" class="vc-switch-input" asp-for="HasRelatedProject">
                                            <span data-on="Evet" data-off="Hayır" class="vc-switch-label"></span>
                                            <span class="vc-handle"></span>
                                            <span asp-validation-for="HasRelatedProject" class="text-danger"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <div class="buttons mt-3 my-md-0">
                            <button type="submit" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                            <a asp-action="Index" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#selectRequestingDepartment').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/Department/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectResponsibleDepartment').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/Department/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectProjectOwner').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/Person/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectServiceArea').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/ServiceArea/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectProjectImportance').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/ProjectImportance/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectProjectStatus').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/ProjectStatus/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });
    </script>
}
