<!-- Modal -->
<div class="modal fade" id="FileCreateModal" tabindex="-1" aria-labelledby="FileCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/File/Create" enctype="multipart/form-data" method="post" onsubmit="AJAXSubmit(this); return false;">

                <!-- Project ID for the Creation -->
                <input type="hidden" name="ProjectID" id="ProjectID" value="@ViewBag.ProjectID" />

                <div class="modal-header">
                    <div class="container-fluid custom-container-padding">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between px-0">
                                <h5 class="modal-title" id="exampleModalLabel">Döküman Ekle</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="alert bg-gradient-warning alert-dismissible fade show border-0" role="alert">
                        <h5 class="alert-heading text-white">
                            <i class="fas fa-exclamation-circle"></i>
                            Dosya Yükleme Kuralları
                            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                        <p class="text-white pb-0">
                            - Maksimum yükleme limiti 5 MB'dir.<br />
                            - İzin verilen dosya formatları dışında yükleme yapılamaz.<br />
                            - İşlemleri gerçekleştirebilmek için Yükleme Tipi seçmek zorunludur.
                        </p>
                    </div>

                    <div class="container-fluid custom-container-padding">

                        <!-- File Upload Type -->
                        <div class="form-group row">
                            <label class="col-12 col-xl-4 col-form-label px-0">Yükleme Tipi<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8 d-flex px-0">
                                <div class="custom-control custom-checkbox small d-flex align-items-center mr-4">
                                    <input name="FileUploadType" id="FileUploadType_10" class="custom-control-input" type="radio" value="10" data-val="true" data-val-required="Bu alanın doldurulması zorunludur.">
                                    <label class="custom-control-label custom-control-padding-fix" for="FileUploadType_10">Yükleme</label>
                                </div>
                                <div class="custom-control custom-checkbox small d-flex align-items-center">
                                    <input name="FileUploadType" id="FileUploadType_20" class="custom-control-input" type="radio" value="20" data-val="true" data-val-required="Bu alanın doldurulması zorunludur.">
                                    <label class="custom-control-label custom-control-padding-fix" for="FileUploadType_20">Dosya Linki</label>
                                </div>
                                <span class="text-danger field-validation-valid" data-valmsg-for="FileUploadType" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <!-- File Category ID -->
                        <div class="form-group row" data-dependent-on="FileUploadType">
                            <label for="FileCategoryID" class="col-12 col-xl-4 col-form-label px-0">Kategori<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8 px-0">
                                <select name="FileCategoryID" id="FileCategoryID" class="form-control" style="width: 100%;" required>
                                    <option value="">Dosya Kategorisi Seçin</option>
                                </select>
                            </div>
                        </div>

                        <!-- Project Bidding ID -->
                        <div class="form-group row" data-dependent-on="FileUploadType">
                            <label for="ProjectBiddingID" class="col-12 col-xl-4 col-form-label px-0">İhale</label>
                            <div class="col-12 col-xl-8 px-0">
                                <select name="ProjectBiddingID" id="ProjectBiddingID" class="form-control" style="width: 100%;">
                                    <option value="">İhale Seçin</option>
                                </select>
                                <small id="projectBiddingHelp" class="form-text text-muted">
                                    Zorunlu değildir. İhaleye bağlamak istediğiniz bir dosya varsa seçiniz.
                                </small>
                            </div>
                        </div>

                        <!-- File Tags -->
                        <div class="form-group row" data-dependent-on="FileUploadType">
                            <label for="FileTags" class="col-12 col-xl-4 col-form-label px-0">Etiketler</label>
                            <div class="col-12 col-xl-8 px-0">
                                <textarea name="FileTags" id="FileTags" class="form-control"></textarea>
                                <small id="fileTagsHelp" class="form-text text-muted">
                                    Her etiket virgül ile ayrılmalıdır.
                                </small>
                            </div>
                        </div>

                        <!-- 10 -->
                        <!-- File Name -->
                        <div class="form-group row" data-dependent-on="FileUploadType" data-dependent-value="10">
                            <label for="FileName" class="col-12 col-xl-4 col-form-label px-0">Dosya Başlığı</label>
                            <div class="col-12 col-xl-8 px-0">
                                <input type="text" name="FileName" id="FileName" class="form-control" />
                            </div>
                        </div>

                        <!-- Project File ID -->
                        <div class="form-group row" data-dependent-on="FileUploadType" data-dependent-value="10">
                            <label class="col-12 col-xl-4 col-form-label px-0">Dosya<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8 custom-file px-0">
                                <input type="file" name="ProjectFile" id="ProjectFile" class="custom-file-input" />
                                <label class="custom-file-label" for="ProjectFile"></label>
                                <span class="text-danger" id="ProjectFileMessage"></span>
                            </div>
                        </div>
                        <!-- End of Option 10 -->
                        <!-- 20 -->
                        <div class="form-group row" data-dependent-on="FileUploadType" data-dependent-value="20">
                            <label for="FileURL" class="col-12 col-xl-4 col-form-label px-0">Dosya Linki</label>
                            <div class="col-12 col-xl-8 px-0">
                                <input type="text" name="FileURL" id="FileURL" class="form-control" />
                            </div>
                        </div>
                        <!-- End of Option 20 -->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="buttons">
                        <button type="submit" value="Save" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                        <a data-dismiss="modal" aria-label="Close" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/select2/select2.min.js"></script>
<script src="~/lib/select2/tr.js"></script>
<partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />


<script>
    "use strict";

    $('#FileCategoryID').select2({
        theme: "ibb",
        language: "tr",
        dropdownParent: $(".modal"),
        ajax: {
            url: '/FileCategory/JsonSelectData',
            dataType: 'json',
            processResults: function (response) {

                return {
                    results: response.results,
                };
            }
        }
    });

    $('#ProjectBiddingID').select2({
        theme: "ibb",
        language: "tr",
        dropdownParent: $(".modal"),
        ajax: {
            url: '/ProjectBidding/JsonSelectData',
            dataType: 'json',
            data: function (params) {

                let query = {
                    projectID: @ViewBag.ProjectID,
                    term: params.term
                }
                return query;
            },
            processResults: function (response) {

                return {
                    results: response.results,
                };
            }
        }
    });

    async function AJAXSubmit (oFormElement) {

        const formData = new FormData(oFormElement);
        const projectFile = $("#ProjectFile");
        const projectFileMessage = $("#ProjectFileMessage");

        const response = await fetch(oFormElement.action, {
            method: 'POST',
            headers: {
                'RequestVerificationToken': getCookie('RequestVerificationToken')
            },
            body: formData
        })
            .catch(error => console.log("Error: " + error));

        const responseBody = await response.json();

        if (!response.ok) {
            //Add invalid class and display an error message
            projectFile.removeClass("is-valid");
            projectFile.addClass("is-invalid");
            projectFileMessage.html(responseBody.File[0]);
        }

        else {
            let queryString = "?"
              for (const key in responseBody) {
                  queryString += `${key}=${responseBody[key]}&`;
              }
              if (queryString !== "?") {
                  location.href = "/File/Index/@ViewBag.ProjectID" + queryString;
              }
              else {
                  location.href = "/File/Index/@ViewBag.ProjectID";
              }
        }
    }

    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }

    // Add file name to html
    $('#ProjectFile').on('change', function (e) {
        //get the file name
        var fileName = e.target.files[0].name;
        $(this).next('.custom-file-label').html(fileName);
    })

</script>
<script>
    /**
     * Dependent Fields Functionallity
     */

    //Close all input fields dependent on a radio button or checkbox.
    $("[data-dependent-on]").each(function () {
        const that = $(this)
        const dependentOn = that.data("dependent-on");
        const dependentValue = that.data("dependent-value");
        const isChosen = $(`[name="${dependentOn}"]:checked`).val();

        //Hide all dependend fields on start until the user chooses an option.
        if (isChosen == null || isChosen == undefined || isChosen == "") {
            that.hide();
        }


        //When User chooses, open dependent fields based on the input value.
        $(`[name="${dependentOn}"]`).on("change", function () {
            const choice = $(this).val();

            //Open all fields that don't have a data-dependent-value attribute.
            //This means that they are not dependent on value but must be hidden on the start.
            //As soon as the user chooses open them up for input.
            if (dependentValue == undefined || dependentValue == "" || dependentValue == null) that.show();
            else if (dependentValue == choice) that.show();
            else that.hide();

        });
    });
</script>

