@model IBBPortal.ViewModels.FileCreateViewModel
<!-- Modal -->
<div class="modal fade" id="FileCreateModal" tabindex="-1" aria-labelledby="FileCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form asp-action="Create">

                <div class="modal-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <h5 class="modal-title" id="exampleModalLabel">Döküman Ekle</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- Validation Part. Must be still for all views!! -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- File Upload Type -->
                        <div class="form-group row">
                            <label class="col-12 col-xl-4 col-form-label">Yükleme Tipi<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8 d-flex">
                                <div class="custom-control custom-checkbox small d-flex align-items-center mr-4">
                                    <input asp-for="FileUploadType" id="fileUploadType_10" class="custom-control-input" type="radio" value="10">
                                    <label class="custom-control-label" for="fileUploadType_10">Upload</label>
                                </div>
                                <div class="custom-control custom-checkbox small d-flex align-items-center">
                                    <input asp-for="FileUploadType" id="fileUploadType_20" class="custom-control-input" type="radio" value="20">
                                    <label class="custom-control-label" for="fileUploadType_20">Dosya Linki</label>
                                </div>
                                <span asp-validation-for="FileUploadType" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- File Category ID -->
                        <div class="form-group row">
                            <label asp-for="FileCategoryID" class="col-12 col-xl-4 col-form-label">Kategori<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="FileCategoryID" class="form-control" id="selectFileCategory" style="width: 100%;" required>
                                    <option value="">Dosya Kategorisi Seçin</option>
                                </select>
                                <span asp-validation-for="FileCategoryID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project Bidding ID -->
                        <div class="form-group row">
                            <label asp-for="ProjectBiddingID" class="col-12 col-xl-4 col-form-label">İhale</label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="FileCategoryID" class="form-control" id="selectFileCategory" style="width: 100%;">
                                    <option value="">Dosya Kategorisi Seçin</option>
                                </select>
                                <span asp-validation-for="FileCategoryID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Project ID for the Creation -->
                        <input type="hidden" asp-for="ProjectID" value="@ViewBag.ProjectID" />

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="buttons">
                        <button type="submit" value="Save" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                        <a asp-route="Index/@ViewBag.ProjectID" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#selectFileCategory').select2({
        theme: "ibb",
        language: "tr",
        dropdownParent: $(".modal"),
        ajax: {
            url: '/FileCategory/JsonSelectData',
            dataType: 'json',
            processResults: function (response) {

                return {
                    results: response.results,
                };
            }
        }
    });
</script>

