[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none
