@model IBBPortal.Models.PropertyStatus

@{
    var cultureInfo = CultureInfo.CreateSpecificCulture("tr-TR");
    var CreationDate = Model.CreationDate.ToString("d MMMMM yyyy HH:mm:ss", cultureInfo);
    var UpdateDate = Model.UpdateDate.HasValue ? Model.UpdateDate.Value.ToString("d MMMMM yyyy HH:mm:ss", cultureInfo) : "";
}

<!-- Modal -->
<div class="modal fade" id="PropertyStatusModal" tabindex="-1" aria-labelledby="PropertyStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <h5 class="modal-title" id="exampleModalLabel">Detay</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">Mülkiyet Durumu</p></div>
                        <div class="col-12 col-xl-8"><p class="text-primary">@Model.PropertyStatusTitle</p></div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">Oluşturan</p></div>
                        <div class="col-12 col-xl-8"><p class="text-primary">@Model.User.UserName</p></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">Oluşturma Tarihi</p></div>
                        <div class="col-12 col-xl-8"><p class="text-primary">@CreationDate</p></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">Güncelleme Tarihi</p></div>
                        <div class="col-12 col-xl-8"><p class="text-primary">@UpdateDate</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
