@{
    Layout = "/Views/Shared/Layouts/_LayoutMain.cshtml";
}

<h1 class="h3 mb-4 text-gray-800">Profil Yönetimi</h1>

<div class="card shadow mb-4">
    <partial name="_ManageNav" />
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
