@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Şifre Değiştir";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Input.OldPassword" class="col-12 col-lg-4 col-form-label">Mevcut Şifre</label>
                <div class="col-12 col-lg-8">
                    <input asp-for="Input.OldPassword" type="text" class="form-control">
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Input.NewPassword" class="col-12 col-lg-4 col-form-label">Yeni Şifre</label>
                <div class="col-12 col-lg-8">
                    <input asp-for="Input.NewPassword" type="text" class="form-control">
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Input.ConfirmPassword" class="col-12 col-lg-4 col-form-label">Şifreyi Doğrula</label>
                <div class="col-12 col-lg-8">
                    <input asp-for="Input.ConfirmPassword" type="text" class="form-control">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button id="change-email-button" type="submit" class="btn bg-success text-white"><i class="fas fa-key mr-2"></i> Şifre Değiştir</button>
            <a href="/" type="submit" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}