@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Input.FirstName" class="col-12 col-lg-4 col-form-label">İsim / Soyisim</label>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-6">
                            <input asp-for="Input.FirstName" type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <input asp-for="Input.LastName" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Username" class="col-12 col-lg-4 col-form-label">Kullanıcı Adı</label>
                <div class="col-12 col-lg-8">
                    <input asp-for="Username" type="text" class="form-control" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Input.PhoneNumber" class="col-12 col-lg-4 col-form-label">Telefon Numarası</label>
                <div class="col-12 col-lg-8">
                    <input asp-for="Input.PhoneNumber" type="text" class="form-control">
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
            <a href="/" type="submit" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}