@page
@model PersonalDataModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Kişisel Veriler";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-6">
        <p>Hesabınızda bize saklamamız için verdiğiniz kişisel veriler bulunuyor. Aşağıdaki butonları kullanarak bu verileri indirebilir ya da silebilirsiniz.</p>
        <p>
            <strong>Bu verileri silmek hesabınızı kalıcı olarak kaldırır. Bu aksiyon geri döndürülemezdir.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button id="change-email-button" type="submit" class="btn bg-success text-white"><i class="fas fa-download mr-2"></i> İndir</button>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Hesabı Sil</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
