<div class="row">
    <div class="justify-content-between py-2 col-12 d-flex">
        <h1 class="h3">34 Proje Portal</h1>
     </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="/Project/" class="dashboard-card">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center text-primary">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 underline-effect">
                                Projeler
                            </div>
                            <br />
                            <div class="h5 mb-0 font-weight-bold text-gray-800 underline-effect">18</div>
                        </div>
                        <br />
                        <div class="col-auto">
                            <i class="fas fa-project-diagram fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="/ProjectMap/" class="dashboard-card">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center text-success">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1 underline-effect">
                            Harita
                        </div>
                        <br />
                        <div class="h5 mb-0 font-weight-bold text-gray-800 underline-effect">PROJE HARİTASI</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2 dashboard-card">
            <div class="card-body">
                <div class="row no-gutters align-items-center text-info">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1 underline-effect">
                            Tamamlananlar
                        </div>
                        <br />
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">88%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: 100%" aria-valuenow="88" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="/Project/Create" class="dashboard-card">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body d-flex align-items-center justify-content-between text-warning">
                    <p class="text-lg font-weight-bold m-0 text-warning text-uppercase underline-effect">YENİ PROJE OLUŞTUR</p>
                    <i class="fas fa-plus fa-2x text-gray-300"></i>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tarihe Göre Projeler</h6>
                <!--<div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>-->
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Proje Dağılımı</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small" id="chartLegend">
                    <span class="mr-2">
                        <i class="fas fa-circle"></i> Test
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle"></i> Test
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle"></i> Test
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle"></i> Test
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle"></i> Test
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4 h-100">
            <div class="card-header py-3 bg-turqoise">
                <h6 class="m-0 font-weight-bold text-white">Kısayollarım</h6>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <div class="shortcut-item mb-3">
                        <p class="text-primary text-md font-weight-bold mb-1">Deneme</p>
                        <a href="#" class="text-gray-900 shortcut-link">
                            <i class="fas fa-arrow-right mr-1 arrow-before"></i>
                            <span class="arrow-text">Projeye Git</span>
                            <i class="fas fa-arrow-right mr-1 arrow-after"></i>
                        </a>
                    </div>

               
            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4 h-100">
            <div class="card-header py-3 bg-turqoise">
                <h6 class="m-0 font-weight-bold text-white">Güncellemeler</h6>
            </div>
            <div class="card-body d-flex flex-column">
                <div class="shortcut-item">
                        <p class="text-primary text-md">Test Test</p>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<!--<div class="row">-->
<!-- Content Column -->
<!--<div class="col-12 mb-4">-->
<!-- Project Card Example -->
<!--<div class="card shadow mb-4 h-100">
            <div class="card-header py-3 bg-rose-pink">
                <h6 class="m-0 font-weight-bold text-white">Uyarılar</h6>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <div class="shortcut-item mb-3">
                    <p class="text-primary text-md font-weight-bold mb-1">Kentsel Tasarım Müdürlüğü, 3400210201XX kodlu Arnavutköy Bilim Merkezi projesi için görüş raporu talep etti. </p>
                    <a href="#" class="text-gray-900"><i class="fas fa-arrow-right mr-1"></i>Uyarıyı İncele</a>
                </div>
                <div class="shortcut-item mb-3">
                    <p class="text-primary text-md font-weight-bold mb-1">Üstyapı Daire Başkanlığı, 3400210201XX kodlu Beyoğlu Hizmet Binası projesinin sınırlarıyla çakışan bir Öneri Proje ekledi.</p>
                    <a href="#" class="text-gray-900"><i class="fas fa-arrow-right mr-1"></i> Uyarıyı İncele</a>
                </div>
                <div class="shortcut-item mb-3">
                    <p class="text-primary text-md font-weight-bold mb-1">Kentsel Tasarım Müdürlüğü, 3400210201XX kodlu Beyoğlu Hizmet Binası projesinin sınırlarıyla çakışan 3400210201XX kodlu X projesininin durumunu yapım olarak güncelledi.</p>
                    <a href="#" class="text-gray-900"><i class="fas fa-arrow-right mr-1"></i> Uyarıyı İncele</a>
                </div>
                <div class="shortcut-item">
                    <p class="text-primary text-md font-weight-bold mb-1">Kentsel Tasarım Müdürlüğü, 3400210201XX kodlu Beyoğlu Hizmet Binası projesi için Yönetim yetkisi istedi.</p>
                    <a href="#" class="text-gray-900"><i class="fas fa-arrow-right mr-1"></i> Uyarıyı İncele</a>
                </div>
            </div>
        </div>
    </div>
</div>-->