
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="~/images/ibb-yazısız-beyaz.svg" class="img-fluid" alt="İstanbul Büyükşehir Belediyesi" width="40">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>34 Proje Portal</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    @if (User.IsInRole("Admin"))
    {
        <!-- Heading -->
        <div class="sidebar-heading">
            Uygulama Ayarları
        </div>

        <!-- User Management -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
               aria-expanded="true" aria-controls="collapseUser">
                <i class="fas fa-user"></i>
                <span>Kullanıcı Yönetimi</span>
            </a>
            <div id="collapseUser" class="collapse" aria-labelledby="headingUser"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" asp-controller="User" asp-action="Index">Kullanıcılar</a>
                    <a class="collapse-item" asp-controller="Role" asp-action="Index">Roller</a>
                </div>
            </div>
        </li>

        <!-- City/Distrit Management -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCityDistrict"
               aria-expanded="true" aria-controls="collapseCityDistrict">
                <i class="fas fa-map-marker-alt"></i>
                <span>İl/İlçe Yönetimi</span>
            </a>
            <div id="collapseCityDistrict" class="collapse" aria-labelledby="headingCityDistrict"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" asp-controller="City" asp-action="Index">İller</a>
                    <a class="collapse-item" asp-controller="District" asp-action="Index">İlçeler</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
    }

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->