<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard.html">
        <div class="sidebar-brand-icon">
            <img src="~/images/ibb-yazısız-beyaz.svg" class="img-fluid" alt="IBB Logo Beyaz" width="40">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="dashboard.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Özet</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider mb-0">

    <!-- Nav Item - Project Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProject"
           aria-expanded="true" aria-controls="collapseProject">
            <i class="fas fa-project-diagram"></i>
            <span>Proje Merkezi</span>
        </a>
        <div id="collapseProject" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="tables.html"><i class="fas fa-list"></i> Görüntüle</a>
                <a class="collapse-item" href="form.html"><i class="fas fa-plus"></i> Yeni Giriş</a>
                <a class="collapse-item" href="tables.html"><i class="fas fa-edit"></i> Düzenle</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Report Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport"
           aria-expanded="true" aria-controls="collapseReport">
            <i class="fas fa-file-alt"></i>
            <span>Rapor Merkezi</span>
        </a>
        <div id="collapseReport" class="collapse" aria-labelledby="headingReport"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html"><i class="fas fa-list"></i> Görüntüle</a>
                <a class="collapse-item" href="buttons.html"><i class="fas fa-plus"></i> Yeni Giriş</a>
                <a class="collapse-item" href="cards.html"><i class="fas fa-edit"></i> Düzenle</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - General Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGeneral"
           aria-expanded="true" aria-controls="collapseGeneral">
            <i class="fas fa-cubes"></i>
            <span>Genel Bakış</span>
        </a>
        <div id="collapseGeneral" class="collapse" aria-labelledby="headingGeneral"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider mb-0">

    <!-- Nav Item - Güncellemeler -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-history"></i>
            <span>Güncellemeler</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-exclamation-triangle"></i>
            <span>Uyarılar</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-share-square"></i>
            <span>Kısayollarım</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Uygulama Ayarları
    </div>

    <!-- Nav Item - Project Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
            <i class="fas fa-user"></i>
            <span>Kullanıcı Yönetimi</span>
        </a>
    </li>

    <!-- Nav Item - Report Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-user-tie"></i>
            <span>K.P.S Yönetimi</span>
        </a>
    </li>

    <!-- Contractor Management-->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Contractor" asp-action="Index">
            <i class="fas fa-hard-hat"></i>
            <span>Yüklenici Yönetimi</span>
        </a>
    </li>

    <!-- Department Management-->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Department" asp-action="Index">
            <i class="fas fa-building"></i>
            <span>Departman Yönetimi</span>
        </a>
    </li>

    <!-- Job Management-->
    <li class="nav-item">
        <a class="nav-link" asp-controller="JobTitle" asp-action="Index">
            <i class="fas fa-briefcase"></i>
            <span>Meslek Yönetimi</span>
        </a>
    </li>

    <!-- Board Management-->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Board" asp-action="Index">
            <i class="fas fa-handshake"></i>
            <span>Kurul Yönetimi</span>
        </a>
    </li>

    <!-- Management Management-->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Management" asp-action="Index">
            <i class="fab fa-black-tie"></i>
            <span>İşletme Yönetimi</span>
        </a>
    </li>

    <!-- Status Management -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStatus"
           aria-expanded="true" aria-controls="collapseStatus">
            <i class="fas fa-tasks"></i>
            <span>Durum Yönetimi</span>
        </a>
        <div id="collapseStatus" class="collapse" aria-labelledby="headingStatus"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="Phase" asp-action="Index">Fazlar</a>
                <a class="collapse-item" asp-controller="ZoningPlanStatus" asp-action="Index">İmar Planı Durumları</a>
                <a class="collapse-item" asp-controller="ProjectStatus" asp-action="Index">Proje Durumları</a>
                <a class="collapse-item" asp-controller="ProjectPhaseStatus" asp-action="Index">Proje Faz Durumları</a>
            </div>
        </div>
    </li>

    <!-- Category Management -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategory"
           aria-expanded="true" aria-controls="collapseCategory">
            <i class="fas fa-tags"></i>
            <span>Kategori Yönetimi</span>
        </a>
        <div id="collapseCategory" class="collapse" aria-labelledby="headingCategory"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="ProjectTeamCategory" asp-action="Index">Proje Ekibi Kategorileri</a>
                <a class="collapse-item" asp-controller="FileCategory" asp-action="Index">Dosya Kategorileri</a>
            </div>
        </div>
    </li>

    <!-- City/Distrit Management -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCityDistrict"
           aria-expanded="true" aria-controls="collapseCityDistrict">
            <i class="fas fa-map-marker-alt"></i>
            <span>İl/İlçe Yönetimi</span>
        </a>
        <div id="collapseCityDistrict" class="collapse" aria-labelledby="headingCityDistrict"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="City" asp-action="Index">İller</a>
                <a class="collapse-item" asp-controller="District" asp-action="Index">İlçeler</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->