@page
@model LoginModel

@{
    Layout = "/Views/Shared/Layouts/_LayoutLogin.cshtml";
    ViewData["Title"] = "34 Proje Portal";
}
<!-- Outer Row -->

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
<form class="user" id="account" method="post">
    <div class="form-group">
        <input asp-for="Input.UserName" class="form-control form-control-user"
               id="exampleInputUserName" aria-describedby="userNameHelp"
               placeholder="Kullanıcı Adınızı Girin">
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" type="password" class="form-control form-control-user"
               id="exampleInputPassword" placeholder="Şifrenizi Girin">
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="customCheck">
            <label asp-for="Input.RememberMe" class="custom-control-label" for="customCheck">Beni Hatırla</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Giriş Yap</button>
</form>
<!--<div class="text-center">
    <a asp-page="./ForgotPassword" class="small">Şifrenizi mi Unuttunuz?</a>
</div>
<div class="text-center">
    <a asp-page="./ResendEmailConfirmation" class="small">Doğrulama E-Postasını Yeniden Gönder</a>
</div>-->



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
