@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz değiştirilmiştir. Lütfen <a asp-page="./Login">tekrardan giriş yapınız.</a>.
</p>
