@model TEBARVALCOMPARE.ViewModels.EditRoleViewModel

@{
    ViewData["Title"] = "Rol Düzenle";
}

<div class="row">
    <div class="justify-content-between py-2 col-12 d-flex">
        <h1 class="h3">@ViewData["Title"]</h1>
    </div>
</div>
<form asp-action="Edit">
    <div class="card shadow mb-4">
        @*<div class="card-header py-3 d-flex flex-column flex-md-row align-items-center justify-content-between">
                <ul class="nav nav-pills" id="formTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tag-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tag" arsia-selected="false">Künye</a>
                    </li>
                </ul>
            </div>*@
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <!-- Validation Part. Must be still for all views!! -->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Role Name -->
                    <div class="form-group row">
                        <label asp-for="Name" class="col-12 col-lg-4 col-form-label">Rol İsmi<span class="text-danger">*</span></label>
                        <div class="col-12 col-lg-8">
                            <input asp-for="Name" type="text" class="form-control" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Role Description -->
                    <div class="form-group row">
                        <label asp-for="RoleDescription" class="col-12 col-xl-4 col-form-label">Rol Açıklaması</label>
                        <div class="col-12 col-xl-8">
                            <textarea asp-for="RoleDescription" class="form-control"></textarea>
                            <span asp-validation-for="RoleDescription" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="buttons mt-3 my-md-0">
                        <button type="submit" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                        <a asp-action="Index" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
