/* Custom Elements By SO */
.floatingForm {
    position: absolute;
    top: 15px;
    left: 0px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    width:90%;
    z-index: 100;
}

.floatingFormForDetailPage {
    position: absolute;
    top: 90px;
    left: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    /*width: 90%;*/
    z-index: 100;
}

.loadingDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background: rgba(255,255,255,0.3);
    text-align: center;
    display: flex;
    justify-content: center;
}

.loadingIcon {
    width: 100px;
    height:100px;
    position: absolute;
    top: 45%;
}

.floatingFormClosed {
    position: absolute;
    top: 15px;
    left: 0px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    display: none;
}

.floatingFormClosedForDetailPage {
    position: absolute;
    top: 90px;
    left: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    display: none;
}


.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}

    /* Add some margins for each label */
    .form-inline label {
        margin: 5px 10px 5px 0;
    }

    /* Style the input fields */
    .form-inline input {
        /*vertical-align: middle;*/
        margin: 5px 10px 5px 0;
        padding: 10px;
        background-color: #fff;
        
        margin-right:20px;
    }

    .form-inline select {
        margin-right:20px;
        
    }

    /* Style the submit button */
        .form-inline button {
            /*padding: 10px 20px;*/
            /*background-color: dodgerblue;*/
            /*border: 1px solid #ddd;*/
        }

#closeFilter {
    /*position: absolute;
    right: 15px;*/
    top: -10px;
    right: -7px;
    color: red;
    position: absolute;
}

#openFilter {
    /*position: absolute;
    right: 15px;*/
}

        .form-inline button:hover {
            /*background-color: dodgerblue;*/
        }

.form-inline .select2 {
    margin-bottom: 0px;
    margin-right: 10px;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 5px 0;
        margin-bottom:10px;
    }

    .form-inline .select2 {
        margin-bottom: 10px;
        margin-right:0px;
        min-width:100px;
    }

    .form-inline select {
        margin: 5px 0;
       
    }

    .form-inline button {
        margin: 5px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }

   
}

h5.firstHeading {
    font-size: 1rem;
    width: 20rem;
    word-wrap:normal;
}


/*Top bar fix*/
body {
    color: #333333;
}

table, td {
    color: #333333;
}


.bg-gradient-success {
    margin-top: 1rem;
}

.tabTitle {
    padding-bottom: 1rem;
}

.opaque {
    background-color: #ffffff;
}

.dataTables_scrollBody {
    min-height:50rem;
}

#showProjectBorders {
    margin:.35rem;
}

.custom-control-padding-fix {
    padding-top: 2px;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: #b7b9cc;
    background-color: unset;
}