@model IBBPortal.Models.ProjectStatus
<!-- Modal -->
<div class="modal fade" id="ProjectStatusDeletionModal" tabindex="-1" aria-labelledby="ProjectStatusDeletionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <h5 class="modal-title" id="exampleModalLabel">Durum Silme</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12"><p class="text-primary font-weight-bold mb-0">@Model.ProjectStatusID kodlu @Model.ProjectStatusTitle kaydını silmek istediğinize emin misiniz?</p></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ProjectStatusID" />
                    <div class="buttons">
                        <button type="submit" value="Delete" class="btn bg-success text-white"><i class="fas fa-trash-alt mr-2"></i> Sil</button>
                        <a asp-action="Index" class="btn btn-danger"><i class="fas fa-ban"></i> Vazgeç</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
