@{
    ViewData["Title"] = "Yüklenici Yönetimi";
}

<h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>

<a class="btn btn-success btn-circle btn-lg" id="add" asp-action="Create"><i class="fas fa-plus"></i></a>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive position-relative">
            <table class="table table-hover display" id="dataTable" width="100%">
                <thead class="bg-navy-blue">
                    <tr class="filter h-100 bg-white">
                    </tr>
                    <tr id="tableLabels">
                        <th scope="col" class="text-white text-sm" data-search-type="text">Başlık</th>
                        <th scope="col" class="text-white text-sm" data-search-type="text">Açıklama</th>
                        <th scope="col" class="text-white text-sm" data-search-type="text">Oluşturma Tarihi</th>
                        <th scope="col" class="text-white text-sm" data-search-type="text">Güncelleme Tarihi</th>
                        <th scope="col" class="text-white text-sm" data-search-type="none"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>

                </tfoot>

            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        alert("Yüklendim");

    </script>
}