@model IBBPortal.Models.District

@{
    ViewData["Title"] = "İlçe Ekle";
}

<h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>
<form asp-action="Create">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-column flex-md-row align-items-center justify-content-between">
            <ul class="nav nav-pills" id="formTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="false">Genel</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <!-- Validation Part. Must be still for all views!! -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- District Name -->
                        <div class="form-group row">
                            <label asp-for="DistrictName" class="col-12 col-xl-4 col-form-label">İlçe İsmi<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="DistrictName" type="text" class="form-control" required>
                                <span asp-validation-for="DistrictName" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- District Code -->
                        <div class="form-group row">
                            <label asp-for="DistrictCode" class="col-12 col-xl-4 col-form-label">İlçe Kodu<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="DistrictCode" type="number" class="form-control" required>
                                <span asp-validation-for="DistrictCode" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- City ID -->
                        <div class="form-group row">
                            <label asp-for="CityID" class="col-12 col-xl-4 col-form-label">Bağlı Olduğu İl<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="CityID" class="form-control" id="selectCity" style="width: 100%;">
                                    <option selected value="">İl Seçin</option>
                                </select>
                                <span asp-validation-for="CityID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Default Values for the Database Date Part-->
                        <input type="hidden" asp-for="CreationDate" value="@ViewBag.CurrentDate" />

                        <!-- User ID for the Creation -->
                        <input type="hidden" asp-for="UserID" value="@ViewBag.UserID" />

                        <div class="buttons mt-3 my-md-0">
                            <button type="submit" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                            <a asp-action="Index" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Select2 for City -->
    <script>
        $('#selectCity').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/City/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });
    </script>
}
